/* Feel free to change any of these */

/* Background color for navigation bar */
.topnav {
    background-color: #0081A7;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

/* Styling the links inside the navigation bar */

.topnav a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Color of links on hover */

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Color of active link on page */
.topnav a.active {
    background-color: skyblue;
    color: white;
}

body {
    margin: 0;
    font-family: 'Bungee Hairline', cursive;
    font-weight: bold;
    font-size: xx-large;
    background-image: url('background.jpg');
    background-size: cover;
}
.firstImage {
    width: 50%;
    height: 50%;
}
.secondImage {
    width: 50%;
    height: 50%
}
.thirdImage {
    width: 50%;
    height: 50%;
}
.fourthImage {
    width: 50%;
    height: 50%;
}
.fifthImage {
    width: 50%;
    height: 50%;
}
header {
    text-align: center;
    color: #9FB798;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 30px
}
footer {
    text-align: center;
    color: #9FB798;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 10px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 30px
}